<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <header>
        
    </header>
    <div class="container">
        <div class="list-manager row">
            <div class="lists col-lg-4">
                
                <nav>
                    <button routerLink="/home">Home</button>
                    <button routerLink="/add">Add</button>
                    <button routerLink="/update">Update</button>
                    <button routerLink="/contacts">Contacts</button>
                    <button routerLink="/delete">Delete</button>
                </nav>
            </div>

            <div class="tasks-manager col-lg-8">
                <h1>To-Do-List</h1>
                <h1>Update</h1>
                <ul>
                    <a >
                        <p></p>
                    </a>
                    <button class="tasks-button">Update</button>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>