<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <header>

    </header>
    <div class="container">
        <div class="list-manager row">
            <div class="lists col-lg-4">

                <nav>
                    <button routerLink="/home">Home</button>
                    <button routerLink="/add">Add</button>
                    <button routerLink="/update">Update</button>
                    <button routerLink="/contacts">Contacts</button>
                    <button routerLink="/delete">Delete</button>
                </nav>
            </div>

            <div class="tasks-manager col-lg-8">
                <h1>To-Do-List</h1>
                <h1>Home</h1>
                <ul>
                    <a class="users" *ngFor="let user of users" [routerLink]="['/users', user._id]">
                            <p>{{ user.title }}</p>
                    </a>
                    <a class="tasks" *ngFor="let task of tasks">
                        <p>{{ task.title }}</p>
                    </a>
                    

                </ul>
            </div>
        </div>
    </div>
</body>

</html>